<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <listeners>
        <listener class-name="listeneres.Listenes"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/admin/IdeaProjects/RestAssuredAPITesting">
        <classes>
            <class name="Framework_TestCases.TestCases"/>
            <!--<class name="Framework_TestCases.DeleteCustomerTestCases"/>
        --></classes>
    </test>
</suite>